/MoveActorByKeyboard/build
/MoveActorByKeyboard/.vscode
/ResliceCursor/build
/ResliceCursor/.vscode
/ResliceCursor/res
/GenericQtApplication/.vscode
/GenericQtApplication/build
/Marker/build
/Marker/.vscode
/ShareContextWithMultipleWindow
/ImageSliceOutline/build
/ImageSliceOutline/.vscode
/ImageOverlap/.vscode
/ImageOverlap/build
/ReadSTL/.vscode
/ReadSTL/build
/DisplaySlice/.vscode
/DisplaySlice/build
